<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wubydax.romcontrol.v2">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REBOOT"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECOVERY"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.samsung.android.sdk.multiwindow.penwindow.enable" android:value="true"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".utils.BackupRestoreIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>